/* REGLA 1: Selector universal para cambiar el tipo de fuente */
* {
    font-family: 'Roboto', sans-serif;
}

/* REGLA 2: Estilos para body */
body {
    margin: 0;
    padding: 0 20%;
}

/* REGLA 3: Estilos para h1 */
h1 {
    text-decoration: underline;
    color: darkcyan;
    text-align: center;
}

/* REGLA 4: Elementos con clase .selector */
.selector {
    color: lightcyan;
}

/* REGLA 5: Elementos con clase .selectors */
.selectors {
    padding: 5%;
    border: solid darkcyan 1px;
    border-radius: 5px;
}

/* REGLA 6: Elemento con id #universal */
#universal {
    color: lightgoldenrodyellow;
}

/* REGLA 7: h2.selector y h2#universal */
h2.selector,
h2#universal {
    background-color: darkcyan;
    padding: 1%;
    border-radius: 5px;
}

/* REGLA 8: Todos los span */
span {
    font-weight: 900;
    background-color: black;
    color: white;
}

/* REGLA 9: Enlaces <a> que son hijos directos de un <li> */
li > a {
    text-decoration: none;
}

/* REGLA 10: Estilos para h3 */
h3 {
    background-color: rgba(0, 139, 139, 0.529);
    padding: 0.5px;
    border-radius: 5px;
}

/* REGLA 11: div descendientes de #gallery */
#gallery div {
    width: 100%;
}

/* REGLA 12: Estilos para img */
img {
    width: 100%;
    border: solid darkcyan 1px;
    border-radius: 5px;
}
