/* REGLA 1: Utilizar el selector universal * para cambiar el tipo de fuente del documento */
* {
    font-family: 'Roboto', sans-serif;
}

/* REGLA 2: El elemento body tendrá margen 0 y padding 20% a izquierda y derecha */
body {
    margin: 0;
    padding: 0 20%;
}

/* REGLA 3: Los elementos h1 estarán subrayados, de color darkcyan y centrados */
h1 {
    text-decoration: underline;
    color: darkcyan;
    text-align: center;
}

/* REGLA 4: Los elementos con clase selector tendrán color lightcyan */
.selector {
    color: lightcyan;
}

/* REGLA 5: Los elementos con clase selectors tendrán padding 5%, borde y border-radius 5px */
.selectors {
    padding: 5%;
    border: solid darkcyan 1px;
    border-radius: 5px;
}

/* REGLA 6: Los elementos con id universal tendrán color lightgoldenrodyellow */
#universal {
    color: lightgoldenrodyellow;
}

/* REGLA 7: h2 con clase selector y h2 con id universal tendrán fondo darkcyan, padding 1% y border-radius 5px */
h2.selector,
h2#universal {
    background-color: darkcyan;
    padding: 1%;
    border-radius: 5px;
}

/* REGLA 8: Los elementos span tendrán negrita, fondo negro y texto blanco */
span {
    font-weight: 900;
    background-color: black;
    color: white;
}

/* REGLA 9: Los enlaces a que sean hijos directos de li no tendrán subrayado */
li > a {
    text-decoration: none;
}

/* REGLA 10: Los elementos h3 tendrán fondo rgba, padding 0.5px y border-radius 5px */
h3 {
    background-color: rgba(0, 139, 139, 0.529);
    padding: 0.5px;
    border-radius: 5px;
}

/* REGLA 11: Los div que sean descendientes de #gallery tendrán width 100% */
#gallery div {
    width: 100%;
}

/* REGLA 12: Las imágenes img tendrán width 100%, borde y border-radius 5px */
img {
    width: 100%;
    border: solid darkcyan 1px;
    border-radius: 5px;
}
